{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="th-hero-wrapper hero-13" id="hero" data-bg-src="{% static 'assets/img/bg/hero_bg_2.jpg' %}">
    <div class="container th-container4">
        <div class="row align-items-center">
            <div class="col-xl-7">
                <div class="hero-style13"><span class="sub-title">One-Stop Solution For All Your Business Needs</span>
                    <h1 class="hero-title">Creating <span class="square-text"><span class="dot1"></span> <span
                            class="dot2"></span> Software </span>& Digital Excellence</h1>
                    <div class="hero-wrapp">
                        <div class="btn-group">
                            <div class=""><a href="{% url 'website:contact-us' %}" class="th-btn style3 text-capitalize">Get Started
                                Now</a></div>

                        </div>
                        <div class="cilent-box"><img src="{% static 'assets/img/shape/arrow.png' %}" alt="">
                            <div class="about-content"><span class="title">(4,5/5) Rating Star by Clients</span>
                                <div class="about-wrapp">
                                    <div class="about_review"><i class="fa-sharp fa-solid fa-star"></i> <i
                                            class="fa-sharp fa-solid fa-star"></i> <i
                                            class="fa-sharp fa-solid fa-star"></i> <i
                                            class="fa-sharp fa-solid fa-star"></i> <i
                                            class="fa-regular fa-star-half-stroke"></i></div>
                                    <a href="about.html" class="line-btn">More details<i
                                            class="fa-solid fa-angle-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="th-hero-img"><img src="{% static 'assets/img/hero/hero_bg_13_1.png' %}" alt=""></div>
            </div>
        </div>
    </div>
    <div class="slider-area text-center">
        <div class="swiper th-slider brand-slider7" id="brandSlider4"
             data-slider-options='{"breakpoints":{"0":{"slidesPerView":2},"576":{"slidesPerView":"2"},"768":{"slidesPerView":"3"},"992":{"slidesPerView":"4"},"1200":{"slidesPerView":"3"},"1400":{"slidesPerView":"4"}}}'>
            <div class="swiper-wrapper">
                <div class="swiper-slide"><a href="about.html" class="brand-box"><img
                        src="{% static 'assets/img/brand/brand_3_1.svg' %}" alt="Brand Logo"></a></div>
                <div class="swiper-slide"><a href="about.html" class="brand-box"><img
                        src="{% static 'assets/img/brand/brand_3_2.svg' %}" alt="Brand Logo"></a></div>
                <div class="swiper-slide"><a href="about.html" class="brand-box"><img
                        src="{% static 'assets/img/brand/brand_3_3.svg' %}" alt="Brand Logo"></a></div>
                <div class="swiper-slide"><a href="about.html" class="brand-box"><img
                        src="{% static 'assets/img/brand/brand_3_4.svg' %}" alt="Brand Logo"></a></div>
                <div class="swiper-slide"><a href="about.html" class="brand-box"><img
                        src="{% static 'assets/img/brand/brand_3_5.svg' %}" alt="Brand Logo"></a></div>
                <div class="swiper-slide"><a href="about.html" class="brand-box"><img
                        src="{% static 'assets/img/brand/brand_3_6.svg' %}" alt="Brand Logo"></a></div>
                <div class="swiper-slide"><a href="about.html" class="brand-box"><img
                        src="{% static 'assets/img/brand/brand_3_1.svg' %}" alt="Brand Logo"></a></div>
                <div class="swiper-slide"><a href="about.html" class="brand-box"><img
                        src="{% static 'assets/img/brand/brand_3_2.svg' %}" alt="Brand Logo"></a></div>
                <div class="swiper-slide"><a href="about.html" class="brand-box"><img
                        src="{% static 'assets/img/brand/brand_3_3.svg' %}" alt="Brand Logo"></a></div>
                <div class="swiper-slide"><a href="about.html" class="brand-box"><img
                        src="{% static 'assets/img/brand/brand_3_4.svg' %}" alt="Brand Logo"></a></div>
                <div class="swiper-slide"><a href="about.html" class="brand-box"><img
                        src="{% static 'assets/img/brand/brand_3_5.svg' %}" alt="Brand Logo"></a></div>
                <div class="swiper-slide"><a href="about.html" class="brand-box"><img
                        src="{% static 'assets/img/brand/brand_3_6.svg' %}" alt="Brand Logo"></a></div>
            </div>
        </div>
    </div>
</div>
<section class="service-area12 overflow-hidden space" id="service-sec">
    <div class="container th-container4">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="title-area text-center me-xl-5 ms-xl-5"><span
                        class="sub-title sub-title3">Our Services</span>
                    <h2 class="sec-title">We provide All-in-one Solution for every IT jobb</h2></div>
            </div>
        </div>
        <div class="slider-area">
            <div class="swiper th-slider has-shadow" id="serviceSlider12"
                 data-slider-options='{"breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":"1"},"768":{"slidesPerView":"2"},"992":{"slidesPerView":"3"},"1200":{"slidesPerView":"4"}}}'>
                <div class="swiper-wrapper">
                    {% for service in services %}
                    <div class="swiper-slide">
                        <div class="service-item2 th-ani">
                            <div class="service-item2_content"><h3 class="box-title"><a href="service-details.html">{{  service.title }}</a></h3>
                                <p class="service-item2_text">{{ service.description|slice:95 }}</p><a href="{%  url 'service:detail' service.id %}"
                                                                                   class="line-btn">Learn More<i
                                        class="fa-solid fa-arrow-right ms-2"></i></a></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <button data-slider-prev="#serviceSlider12" class="slider-arrow slider-prev"><i
                    class="far fa-arrow-left"></i></button>
            <button data-slider-next="#serviceSlider12" class="slider-arrow slider-next"><i
                    class="far fa-arrow-right"></i></button>
        </div>
    </div>
</section>
<div class="space-bottom" id="about-sec">
    <div class="container th-container4">
        <div class="row align-items-center">
            <div class="col-xl-7">
                <div class="img-box14">
                    <div class="img1"><img src="{% static 'assets/img/normal/about_12_1.jpg' %}" alt="About"></div>
                    <div class="img2"><img src="{% static 'assets/img/normal/about_12_3.jpg' %}" alt="About"></div>
                    <div class="img3"><img src="{% static 'assets/img/normal/about_12_2.jpg' %}" alt="About"></div>
                    <div class="shape1"><img src="{% static 'assets/img/normal/about_12_shape.png' %}" alt="About"></div>
                    <div class="shape2"><img src="{% static 'assets/img/normal/about_12_1_shape.png' %}" alt="About"></div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="title-area mb-35"><span class="sub-title sub-title3 style1">Who We Are</span>
                    <h2 class="sec-title">We’re Building Modern And Hight Quality<span
                            class="text-theme">Software</span></h2></div>
                <p class="mt-n2 mb-25">IT companies stay abreast of emerging technologies and industry trends to remain
                    competitive and provide innovative solutions to their clients. This includes trends such as
                    artificial intelligence, machine learning, Internet of Things (IoT), blockchain, edge computing, and
                    5G networks.</p><h6 class="text-theme fw-semibold mb-30">We are making every business grow!</h6>
                <div class="checklist style8 mb-40">
                    <ul>
                        <li><i class="fa-light fa-square-check"></i>Super user and easy to use interface</li>
                        <li><i class="fa-light fa-square-check"></i>Easiest way to grow your business in days</li>
                    </ul>
                </div>
                <div class="btn-group"><a href="{% url 'website:about-us' %}"
                                          class="th-btn style-radius fs-16 text-capitalize"><i
                        class="fa-solid fa-circle-play me-2"></i>Learn More</a> <a href="{% url 'website:contact-us' %}"
                                                                                  class="th-btn style10 fs-16 text-capitalize">Try
                    for free</a></div>
            </div>
        </div>
    </div>
</div>
<section class="cta-area7 position-relative overflow-hidden z-index-3">
    <div class="container th-container4">
        <div class="cta-sec6 background-image bg-theme" data-bg-src="{% static 'assets/img/bg/cta_bg_6.jpg' %}">
            <div class="cta-content">
                <div class="cta-wrapper">
                    <div class="cta-icon"><a href="tel:+1235859459"><img src="{% static 'assets/img/icon/call.svg' %}" alt=""></a>
                    </div>
                    <div class="media-body"><span class="header-info_label text-white">Call For More Info</span>
                        <p class="header-info_link"><a href="tel:+1235859459">(+123) 5859 459</a></p></div>
                </div>
                <div class="title-area mb-0"><h4 class="sec-title text-white">Let’s Request a Schedule For Free
                    Consultation</h4></div>
                <div class="cta-group"><a href="{% url 'website:contact-us' %}" class="th-btn th-border style-radius">Contact Us</a></div>
            </div>
        </div>
    </div>
</section>
<section class="process-area5" id="process-sec" data-pos-for="cta-area7" data-sec-pos="top-half"
         data-bg-src="{% static 'assets/img/bg/process_bg_2.jpg' %}">
    <div class="container th-container4">
        <div class="title-area text-center"><span class="sub-title sub-title3">PROCESS</span>
            <h2 class="sec-title">Our Work Process</h2></div>
        <div class="process-tabs-wrapper">
            <div class="nav nav-tabs process-tabs-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-step1-tab" data-bs-toggle="tab" data-bs-target="#nav-step1"
                        type="button"><span class="step">STEP-01</span><span class="title">Discovery</span></button>
                <button class="nav-link" id="nav-step2-tab" data-bs-toggle="tab" data-bs-target="#nav-step2"
                        type="button"><span class="step">STEP-02</span><span class="title">Planning</span></button>
                <button class="nav-link" id="nav-step3-tab" data-bs-toggle="tab" data-bs-target="#nav-step3"
                        type="button"><span class="step">STEP-03</span><span class="title">Execute</span></button>
                <button class="nav-link" id="nav-step4-tab" data-bs-toggle="tab" data-bs-target="#nav-step4"
                        type="button"><span class="step">STEP-04</span><span class="title">Finished Work</span></button>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-step1" role="tabpanel">
                    <div class="process-wrapper">
                        <div class="process-content">
                            <div class="title-area mb-15"><h5 class="box-title">Testing and Quality Assurance</h5>
                                <p class="box-text">QA engineers conduct various types of testing, including functional
                                    testing, regression testing, performance testing, and security testing.</p></div>
                            <div class="checklist">
                                <ul>
                                    <li><i class="far fa-check-circle text-body"></i>Best Service for You</li>
                                    <li><i class="far fa-check-circle text-body"></i>Keeping Your Team Productive</li>
                                    <li><i class="far fa-check-circle text-body"></i>Predictable Costs 24/</li>
                                </ul>
                            </div>
                            <a href="{% url 'website:contact-us' %}" class="th-btn style-radius">Get Started</a></div>
                        <div class="process-image th-anim"><img src="{% static 'assets/img/normal/process_img_1.jpg' %}" alt=""></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-step2" role="tabpanel">
                    <div class="process-wrapper">
                        <div class="process-content">
                            <div class="title-area mb-15"><h5 class="box-title">Testing and Quality Assurance</h5>
                                <p class="box-text">QA engineers conduct various types of testing, including functional
                                    testing, regression testing, performance testing, and security testing.</p></div>
                            <div class="checklist">
                                <ul>
                                    <li><i class="far fa-check-circle text-body"></i>Best Service for You</li>
                                    <li><i class="far fa-check-circle text-body"></i>Keeping Your Team Productive</li>
                                    <li><i class="far fa-check-circle text-body"></i>Predictable Costs 24/</li>
                                </ul>
                            </div>
                            <a href="{% url 'website:contact-us' %}" class="th-btn style-radius">Get Started</a></div>
                        <div class="process-image th-anim"><img src="{% static 'assets/img/normal/process_img_2.jpg' %}" alt=""></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-step3" role="tabpanel">
                    <div class="process-wrapper">
                        <div class="process-content">
                            <div class="title-area mb-15"><h5 class="box-title">Testing and Quality Assurance</h5>
                                <p class="box-text">QA engineers conduct various types of testing, including functional
                                    testing, regression testing, performance testing, and security testing.</p></div>
                            <div class="checklist">
                                <ul>
                                    <li><i class="far fa-check-circle text-body"></i>Best Service for You</li>
                                    <li><i class="far fa-check-circle text-body"></i>Keeping Your Team Productive</li>
                                    <li><i class="far fa-check-circle text-body"></i>Predictable Costs 24/</li>
                                </ul>
                            </div>
                            <a href="{% url 'website:contact-us' %}" class="th-btn style-radius">Get Started</a></div>
                        <div class="process-image th-anim"><img src="{% static 'assets/img/normal/process_img_3.jpg' %}" alt=""></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-step4" role="tabpanel">
                    <div class="process-wrapper">
                        <div class="process-content">
                            <div class="title-area mb-15"><h5 class="box-title">Testing and Quality Assurance</h5>
                                <p class="box-text">QA engineers conduct various types of testing, including functional
                                    testing, regression testing, performance testing, and security testing.</p></div>
                            <div class="checklist">
                                <ul>
                                    <li><i class="far fa-check-circle text-body"></i>Best Service for You</li>
                                    <li><i class="far fa-check-circle text-body"></i>Keeping Your Team Productive</li>
                                    <li><i class="far fa-check-circle text-body"></i>Predictable Costs 24/</li>
                                </ul>
                            </div>
                            <a href="{% url 'website:contact-us' %}" class="th-btn style-radius">Get Started</a></div>
                        <div class="process-image th-anim"><img src="{% static 'assets/img/normal/process_img_4.jpg' %}" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="shape-mockup d-none d-xxl-block" data-top="-8%" data-right="29.5%"><img
                    src="{% static 'assets/img/shape/star-1.png' %}" alt="shape"></div>
            <div class="shape-mockup d-none d-xxl-block" data-bottom="-12%" data-right="29.5%"><img
                    src="{% static 'assets/img/shape/star-2.png' %}" alt="shape"></div>
            <div class="shape-mockup z-index-3 d-none d-xl-block" data-top="13%" data-left="35.5%"><img
                    src="{% static 'assets/img/shape/line-3.png' %}" alt="shape"></div>
        </div>
    </div>
</section>
<section class="bg-top-center overflow-hidden space" data-bg-src="{% static 'assets/img/bg/team_bg_5.jpg' %}">
    <div class="container th-container4">
        <div class="title-area text-center"><span class="sub-title sub-title3">Team Members</span>
            <h2 class="sec-title text-white">Meet Our Dedicated Team</h2></div>
        <div class="slider-area">
            <div class="swiper th-slider has-shadow" id="teamSlider6"
                 data-slider-options='{"breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":"1"},"768":{"slidesPerView":"2"},"992":{"slidesPerView":"3"},"1200":{"slidesPerView":"4"}}}'>
                <div class="swiper-wrapper">
                    {% for object in team_members %}
                    <div class="swiper-slide">
                        <div class="th-team team-card3 style2">
                            <div class="team-img"><img src="{{ object.image.url }}" alt="Team"></div>
                            <div class="box-content">
                                <div class="social-links">
                                    <a target="_blank" href="{{ object.facebook }}"><i
                                        class="fab fa-facebook-f"></i></a>
                                    <a target="_blank"
                                                                              href="{{ object.twitter }}"><i
                                        class="fab fa-twitter"></i></a>
                                    <a target="_blank"
                                                                           href="{{ object.instagram }}"><i
                                        class="fab fa-instagram"></i></a>
                                    <a target="_blank"
                                                                             href="{{ object.linkedin }}"><i
                                        class="fab fa-linkedin-in"></i></a></div>
                                <div class="media-body"><h3 class="box-title"><a >{{ object.name }}</a>
                                </h3><span class="team-desig">{{ object.rank }}</span></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <button data-slider-prev="#teamSlider6" class="slider-arrow slider-prev"><i class="far fa-arrow-left"></i>
            </button>
            <button data-slider-next="#teamSlider6" class="slider-arrow slider-next"><i class="far fa-arrow-right"></i>
            </button>
        </div>
    </div>
</section>
<div class="why-sec-v5 overflow-hidden">
    <div class="container th-container4">
        <div class="row align-items-center">
            <div class="col-xl-5">
                <div class="title-area mb-35"><span class="sub-title subtitle3 style1">Why choose us</span>
                    <h2 class="sec-title">Powerful Software At The Forefront of Digital Excellence & Technology</h2>
                </div>
            </div>
            <div class="col-xl-7">
                <div class="skill-circle-wrap">
                    <div class="skill-circle">
                        <div class="progressbar" data-path-color="#3E66F3">
                            <div class="circle" data-percent="96">
                                <div class="circle-num"></div>
                                <span class="box-text">Team Members</span></div>
                        </div>
                    </div>
                    <div class="skill-circle">
                        <div class="progressbar" data-path-color="#3E66F3">
                            <div class="circle" data-percent="95">
                                <div class="circle-num"></div>
                                <span class="box-text">Complete Project</span></div>
                        </div>
                    </div>
                    <div class="skill-circle">
                        <div class="progressbar" data-path-color="#3E66F3">
                            <div class="circle" data-percent="30">
                                <div class="circle-num"></div>
                                <span class="box-text">Winning Awards</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="testimonial-area9 overflow-hidden" id="testi-sec" data-bg-src="{% static 'assets/img/bg/testi_bg_9.jpg' %}">
    <div class="container th-container4">
        <div class="title-area text-center"><span class="sub-title sub-title3">Testimonials</span>
            <h2 class="sec-title">See what our clients have to say</h2></div>
        <div class="slider-area">
            <div class="swiper th-slider has-shadow" id="testiSlider2"
                 data-slider-options='{"loop":true,"breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":"1"},"768":{"slidesPerView":"1"},"992":{"slidesPerView":"1"},"1200":{"slidesPerView":"2"}}}'>
                <div class="swiper-wrapper">
                    {% for object in testimonials %}
                        <div class="swiper-slide">
                        <div class="testi-box">
                            <div class="testi-box_img"><img src="{{ object.image.url }}"
                                                            alt="Avater">
                                <div class="testi-box_quote"><img src="{% static 'assets/img/icon/quote_left_2.svg' %}"
                                                                  alt="quote"></div>
                            </div>
                            <div class="testi-box_content"><p class="testi-box_text">{{ object.description|slice:200 }}</p>
                                <h3 class="box-title">{{ object.name }}</h3>
                                <p class="testi-box_desig">{{ object.designation }}</p></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <button data-slider-prev="#testiSlider2" class="slider-arrow style3 slider-prev"><i
                    class="far fa-arrow-left"></i></button>
            <button data-slider-next="#testiSlider2" class="slider-arrow style3 slider-next"><i
                    class="far fa-arrow-right"></i></button>
        </div>
    </div>
</section>
<section class="overflow-hidden mb-20 ">
    <div class="container th-container4">
        <div class="appointment-area th-radius3 position-relative overflow-hidden"
             data-bg-src="{% static 'assets/img/bg/appointment_bg_3.jpg' %}">
            <div class="row">
                <div class="col-xl-5">
                    <div class="title-area mb-40 text-xl-start"><span class="sub-title sub-title3 style1 text-white">Work With Us</span>
                        <h2 class="sec-title text-white">We are ready to work for your projects</h2>
                        <p class="sec-desc text-white">Phasellus parturient est cum dictum habitant eros fames, enim
                            curabitur convallis arcu dictumst fermentum cubilia leo maecenas in pellentesque.</p></div>
                    <div class="feature-wrapper style4">
                        <div class="feature-icon"><a href="tel:+2583258235"><i class="fa-solid fa-phone"></i></a></div>
                        <div class="media-body"><p class="header-info_link"><a href="tel:+2583258235">Call Us: 258-3258
                            235</a></p><span class="header-info_label">For any question</span></div>
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="appointment-area-wrapper">
                        <form method="POST" class="appointment-form2 input-smoke">
                            {%  csrf_token %}
                            {{ contact_form }}
                            <button type="submit" class="th-btn style3">Get Appointment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}